@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-md {
    border-radius: 1.5rem; /* Adjust the value for different levels of rounding */
}

@media (max-width: 768px) {
    #navbar-cta {
      display: flex; /* Change from hidden to flex */
    }
  }



.form,
.inputGroup,
.terms {
  display: flex;
  flex-direction: column; 
}

.inputGroup {
  position: relative; /* For positioning the button correctly */
}

.input {
  padding: 10px 14px; 
  font-size: 15px; 
  border: 1px solid #ddd;
  border-radius: 6px;
}

.button {
  position: absolute;
  right: 8px; /* Adjust position of button */
  bottom: 8px;
  padding: 8px 12px; 
  font-size: 14px; 
  border-radius: 6px;
} 


/* Media Query for Smaller Screens */
@media (max-width: 768px) { 
  .video {
    height: 200px; /* Adjust as needed */
  }
}
  

/* Basic Dropdown Styling */
.nav-item ul { 
  display: none; /* Hide by default */
  position: absolute; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Ensure dropdown appears above other elements */
}

.nav-item:hover ul {
  display: block; /* Show on hover */
}

.nav-item ul li {
  padding: 10px;
}

/* Optional: Add a dropdown icon to the "Learn" link */
.nav-item svg {
  /* ... your SVG styles */
  transition: transform 0.3s ease; /* Add a smooth transition */
}

.nav-item:hover svg {
  transform: rotate(180deg); /* Rotate icon on hover */
}

